<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/dashboard/update/<%= index %>" method="post">
      <input type="text" name="updatedItem" value="<%= todo %>">
      <input type="submit" name="name" value="Update">
    </form>
  </body>
</html>
